.successTxt {
  margin: auto;
  display: flex;
  min-height: 100vh; /* Ensures viewport height */
  font-size: 30px;
  font-family: sans-serif; /* Optional: Set a base font */
  align-items: center;
  justify-content: center;
}
.body {
  background-color: #eeeeee;
}
